<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="997pt" height="313pt" viewBox="0.00 0.00 997.00 312.50">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 308.5)">
<title>pathsObject</title>
<polygon fill="white" stroke="transparent" points="-4,4 -4,-308.5 993,-308.5 993,4 -4,4"/>
<!-- openapiObject -->
<g id="node1" class="node">
<title>openapiObject</title>
<g id="a_node1"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#oasObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#939598" stroke="transparent" points="8,-279 8,-300 124,-300 124,-279 8,-279"/>
<polygon fill="none" stroke="black" points="8,-279 8,-300 124,-300 124,-279 8,-279"/>
<text text-anchor="start" x="11" y="-286.8" font-family="arial" font-weight="bold" font-size="14.00">OpenAPI Object</text>
<polygon fill="#6d6e71" stroke="transparent" points="8,-258 8,-279 124,-279 124,-258 8,-258"/>
<polygon fill="none" stroke="black" points="8,-258 8,-279 124,-279 124,-258 8,-258"/>
<text text-anchor="start" x="37" y="-264.8" font-family="monospace" font-size="14.00">openapi</text>
<polygon fill="#6d6e71" stroke="transparent" points="8,-237 8,-258 124,-258 124,-237 8,-237"/>
<polygon fill="none" stroke="black" points="8,-237 8,-258 124,-258 124,-237 8,-237"/>
<text text-anchor="start" x="49" y="-243.8" font-family="monospace" font-size="14.00">info</text>
<polygon fill="#6d6e71" stroke="transparent" points="8,-216 8,-237 124,-237 124,-216 8,-216"/>
<polygon fill="none" stroke="black" points="8,-216 8,-237 124,-237 124,-216 8,-216"/>
<text text-anchor="start" x="45" y="-222.8" font-family="monospace" font-size="14.00">paths</text>
<polygon fill="#6d6e71" stroke="transparent" points="8,-195 8,-216 124,-216 124,-195 8,-195"/>
<polygon fill="none" stroke="black" points="8,-195 8,-216 124,-216 124,-195 8,-195"/>
<text text-anchor="start" x="61.5" y="-201.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- pathsObject -->
<g id="node2" class="node">
<title>pathsObject</title>
<g id="a_node2"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#pathsObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#94d60a" stroke="transparent" points="176.5,-215 176.5,-236 271.5,-236 271.5,-215 176.5,-215"/>
<polygon fill="none" stroke="black" points="176.5,-215 176.5,-236 271.5,-236 271.5,-215 176.5,-215"/>
<text text-anchor="start" x="179.5" y="-222.8" font-family="arial" font-weight="bold" font-size="14.00">Paths Object</text>
<polygon fill="#6ca437" stroke="transparent" points="176.5,-194 176.5,-215 271.5,-215 271.5,-194 176.5,-194"/>
<polygon fill="none" stroke="black" points="176.5,-194 176.5,-215 271.5,-215 271.5,-194 176.5,-194"/>
<text text-anchor="start" x="182.5" y="-200.8" font-family="monospace" font-size="14.00">/endpoint1</text>
<polygon fill="#6ca437" stroke="transparent" points="176.5,-173 176.5,-194 271.5,-194 271.5,-173 176.5,-173"/>
<polygon fill="none" stroke="black" points="176.5,-173 176.5,-194 271.5,-194 271.5,-173 176.5,-173"/>
<text text-anchor="start" x="182.5" y="-179.8" font-family="monospace" font-size="14.00">/endpoint2</text>
<polygon fill="#6ca437" stroke="transparent" points="176.5,-152 176.5,-173 271.5,-173 271.5,-152 176.5,-152"/>
<polygon fill="none" stroke="black" points="176.5,-152 176.5,-173 271.5,-173 271.5,-152 176.5,-152"/>
<text text-anchor="start" x="182.5" y="-158.8" font-family="monospace" font-size="14.00">/endpoint3</text>
<polygon fill="#6ca437" stroke="transparent" points="176.5,-131 176.5,-152 271.5,-152 271.5,-131 176.5,-131"/>
<polygon fill="none" stroke="black" points="176.5,-131 176.5,-152 271.5,-152 271.5,-131 176.5,-131"/>
<text text-anchor="start" x="219.5" y="-137.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- openapiObject&#45;&gt;pathsObject -->
<g id="edge1" class="edge">
<title>openapiObject:paths-&gt;pathsObject:header</title>
<path fill="none" stroke="black" d="M125,-226C143.59,-226 150.63,-226 165.25,-226"/>
<polygon fill="black" stroke="black" points="165.5,-229.5 175.5,-226 165.5,-222.5 165.5,-229.5"/>
</g>
<!-- pathItemObject -->
<g id="node3" class="node">
<title>pathItemObject</title>
<g id="a_node3"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#pathItemObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#94d60a" stroke="transparent" points="323,-194 323,-215 443,-215 443,-194 323,-194"/>
<polygon fill="none" stroke="black" points="323,-194 323,-215 443,-215 443,-194 323,-194"/>
<text text-anchor="start" x="326" y="-201.8" font-family="arial" font-weight="bold" font-size="14.00">Path Item Object</text>
<polygon fill="#6ca437" stroke="transparent" points="323,-173 323,-194 443,-194 443,-173 323,-173"/>
<polygon fill="none" stroke="black" points="323,-173 323,-194 443,-194 443,-173 323,-173"/>
<text text-anchor="start" x="370.5" y="-179.8" font-family="monospace" font-size="14.00">get</text>
<polygon fill="#6ca437" stroke="transparent" points="323,-152 323,-173 443,-173 443,-152 323,-152"/>
<polygon fill="none" stroke="black" points="323,-152 323,-173 443,-173 443,-152 323,-152"/>
<text text-anchor="start" x="370.5" y="-158.8" font-family="monospace" font-size="14.00">put</text>
<polygon fill="#6ca437" stroke="transparent" points="323,-131 323,-152 443,-152 443,-131 323,-131"/>
<polygon fill="none" stroke="black" points="323,-131 323,-152 443,-152 443,-131 323,-131"/>
<text text-anchor="start" x="366" y="-137.8" font-family="monospace" font-size="14.00">post</text>
<polygon fill="#6ca437" stroke="transparent" points="323,-110 323,-131 443,-131 443,-110 323,-110"/>
<polygon fill="none" stroke="black" points="323,-110 323,-131 443,-131 443,-110 323,-110"/>
<text text-anchor="start" x="358" y="-116.8" font-family="monospace" font-size="14.00">delete</text>
<polygon fill="#6ca437" stroke="transparent" points="323,-89 323,-110 443,-110 443,-89 323,-89"/>
<polygon fill="none" stroke="black" points="323,-89 323,-110 443,-110 443,-89 323,-89"/>
<text text-anchor="start" x="378.5" y="-95.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- pathsObject&#45;&gt;pathItemObject -->
<g id="edge2" class="edge">
<title>pathsObject:endpoint1-&gt;pathItemObject:header</title>
<path fill="none" stroke="black" d="M272.5,-205C290.72,-205 297.62,-205 311.95,-205"/>
<polygon fill="black" stroke="black" points="312,-208.5 322,-205 312,-201.5 312,-208.5"/>
</g>
<!-- pathsObject&#45;&gt;pathItemObject -->
<g id="edge3" class="edge">
<title>pathsObject:endpoint2-&gt;pathItemObject:header</title>
<path fill="none" stroke="black" d="M272.5,-183C292.63,-183 296.87,-198.37 311.78,-203.42"/>
<polygon fill="black" stroke="black" points="311.58,-206.93 322,-205 312.65,-200.01 311.58,-206.93"/>
</g>
<!-- pathsObject&#45;&gt;pathItemObject -->
<g id="edge4" class="edge">
<title>pathsObject:endpoint3-&gt;pathItemObject:header</title>
<path fill="none" stroke="black" d="M272.5,-162C297.54,-162 294.58,-193.76 311.74,-202.69"/>
<polygon fill="black" stroke="black" points="311.48,-206.22 322,-205 313.01,-199.39 311.48,-206.22"/>
</g>
<!-- operationObject -->
<g id="node4" class="node">
<title>operationObject</title>
<g id="a_node4"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#operationObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#94d60a" stroke="transparent" points="495,-173 495,-194 619,-194 619,-173 495,-173"/>
<polygon fill="none" stroke="black" points="495,-173 495,-194 619,-194 619,-173 495,-173"/>
<text text-anchor="start" x="498" y="-180.8" font-family="arial" font-weight="bold" font-size="14.00">Operation Object</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-152 495,-173 619,-173 619,-152 495,-152"/>
<polygon fill="none" stroke="black" points="495,-152 495,-173 619,-173 619,-152 495,-152"/>
<text text-anchor="start" x="528" y="-158.8" font-family="monospace" font-size="14.00">summary</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-131 495,-152 619,-152 619,-131 495,-131"/>
<polygon fill="none" stroke="black" points="495,-131 495,-152 619,-152 619,-131 495,-131"/>
<text text-anchor="start" x="511.5" y="-137.8" font-family="monospace" font-size="14.00">description</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-110 495,-131 619,-131 619,-110 495,-110"/>
<polygon fill="none" stroke="black" points="495,-110 495,-131 619,-131 619,-110 495,-110"/>
<text text-anchor="start" x="511.5" y="-116.8" font-family="monospace" font-size="14.00">requestBody</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-89 495,-110 619,-110 619,-89 495,-89"/>
<polygon fill="none" stroke="black" points="495,-89 495,-110 619,-110 619,-89 495,-89"/>
<text text-anchor="start" x="519.5" y="-95.8" font-family="monospace" font-size="14.00">responses</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-68 495,-89 619,-89 619,-68 495,-68"/>
<polygon fill="none" stroke="black" points="495,-68 495,-89 619,-89 619,-68 495,-68"/>
<text text-anchor="start" x="511.5" y="-74.8" font-family="monospace" font-size="14.00">operationId</text>
<polygon fill="#6ca437" stroke="transparent" points="495,-47 495,-68 619,-68 619,-47 495,-47"/>
<polygon fill="none" stroke="black" points="495,-47 495,-68 619,-68 619,-47 495,-47"/>
<text text-anchor="start" x="552.5" y="-53.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- pathItemObject&#45;&gt;operationObject -->
<g id="edge5" class="edge">
<title>pathItemObject:get-&gt;operationObject:header</title>
<path fill="none" stroke="black" d="M444,-184C462.4,-184 469.38,-184 483.85,-184"/>
<polygon fill="black" stroke="black" points="484,-187.5 494,-184 484,-180.5 484,-187.5"/>
</g>
<!-- pathItemObject&#45;&gt;operationObject -->
<g id="edge6" class="edge">
<title>pathItemObject:put-&gt;operationObject:header</title>
<path fill="none" stroke="black" d="M444,-163C464.15,-163 468.71,-177.67 483.74,-182.49"/>
<polygon fill="black" stroke="black" points="483.6,-186.01 494,-184 484.62,-179.08 483.6,-186.01"/>
</g>
<!-- pathItemObject&#45;&gt;operationObject -->
<g id="edge7" class="edge">
<title>pathItemObject:post-&gt;operationObject:header</title>
<path fill="none" stroke="black" d="M444,-141C469.42,-141 466.31,-173.34 484.15,-181.93"/>
<polygon fill="black" stroke="black" points="483.49,-185.36 494,-184 484.94,-178.51 483.49,-185.36"/>
</g>
<!-- pathItemObject&#45;&gt;operationObject -->
<g id="edge8" class="edge">
<title>pathItemObject:delete-&gt;operationObject:header</title>
<path fill="none" stroke="black" d="M444,-120C476.15,-120 462.06,-170.77 484.1,-181.87"/>
<polygon fill="black" stroke="black" points="483.49,-185.32 494,-184 484.96,-178.48 483.49,-185.32"/>
</g>
<!-- responsesObject -->
<g id="node5" class="node">
<title>responsesObject</title>
<g id="a_node5"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#responsesObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#94d60a" stroke="transparent" points="671.5,-88 671.5,-109 804.5,-109 804.5,-88 671.5,-88"/>
<polygon fill="none" stroke="black" points="671.5,-88 671.5,-109 804.5,-109 804.5,-88 671.5,-88"/>
<text text-anchor="start" x="674.5" y="-95.8" font-family="arial" font-weight="bold" font-size="14.00">Responses Object</text>
<polygon fill="#6ca437" stroke="transparent" points="671.5,-67 671.5,-88 804.5,-88 804.5,-67 671.5,-67"/>
<polygon fill="none" stroke="black" points="671.5,-67 671.5,-88 804.5,-88 804.5,-67 671.5,-67"/>
<text text-anchor="start" x="688" y="-73.8" font-family="monospace" font-size="14.00">"HTTP code1"</text>
<polygon fill="#6ca437" stroke="transparent" points="671.5,-46 671.5,-67 804.5,-67 804.5,-46 671.5,-46"/>
<polygon fill="none" stroke="black" points="671.5,-46 671.5,-67 804.5,-67 804.5,-46 671.5,-46"/>
<text text-anchor="start" x="688" y="-52.8" font-family="monospace" font-size="14.00">"HTTP code2"</text>
<polygon fill="#6ca437" stroke="transparent" points="671.5,-25 671.5,-46 804.5,-46 804.5,-25 671.5,-25"/>
<polygon fill="none" stroke="black" points="671.5,-25 671.5,-46 804.5,-46 804.5,-25 671.5,-25"/>
<text text-anchor="start" x="688" y="-31.8" font-family="monospace" font-size="14.00">"HTTP code3"</text>
<polygon fill="#6ca437" stroke="transparent" points="671.5,-4 671.5,-25 804.5,-25 804.5,-4 671.5,-4"/>
<polygon fill="none" stroke="black" points="671.5,-4 671.5,-25 804.5,-25 804.5,-4 671.5,-4"/>
<text text-anchor="start" x="733.5" y="-10.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- operationObject&#45;&gt;responsesObject -->
<g id="edge9" class="edge">
<title>operationObject:responses-&gt;responsesObject:header</title>
<path fill="none" stroke="black" d="M620,-99C638.59,-99 645.63,-99 660.25,-99"/>
<polygon fill="black" stroke="black" points="660.5,-102.5 670.5,-99 660.5,-95.5 660.5,-102.5"/>
</g>
<!-- responseObject -->
<g id="node6" class="node">
<title>responseObject</title>
<g id="a_node6"><a xlink:href="https://spec.openapis.org/oas/v3.1.0#responseObject" xlink:title="Click to jump to the specification of this object" target="_blank">
<polygon fill="#94d60a" stroke="transparent" points="856.5,-67 856.5,-88 981.5,-88 981.5,-67 856.5,-67"/>
<polygon fill="none" stroke="black" points="856.5,-67 856.5,-88 981.5,-88 981.5,-67 856.5,-67"/>
<text text-anchor="start" x="859.5" y="-74.8" font-family="arial" font-weight="bold" font-size="14.00">Response Object</text>
<polygon fill="#6ca437" stroke="transparent" points="856.5,-46 856.5,-67 981.5,-67 981.5,-46 856.5,-46"/>
<polygon fill="none" stroke="black" points="856.5,-46 856.5,-67 981.5,-67 981.5,-46 856.5,-46"/>
<text text-anchor="start" x="873.5" y="-52.8" font-family="monospace" font-size="14.00">description</text>
<polygon fill="#6ca437" stroke="transparent" points="856.5,-25 856.5,-46 981.5,-46 981.5,-25 856.5,-25"/>
<polygon fill="none" stroke="black" points="856.5,-25 856.5,-46 981.5,-46 981.5,-25 856.5,-25"/>
<text text-anchor="start" x="890" y="-31.8" font-family="monospace" font-size="14.00">content</text>
<polygon fill="#6ca437" stroke="transparent" points="856.5,-4 856.5,-25 981.5,-25 981.5,-4 856.5,-4"/>
<polygon fill="none" stroke="black" points="856.5,-4 856.5,-25 981.5,-25 981.5,-4 856.5,-4"/>
<text text-anchor="start" x="914.5" y="-10.8" font-family="monospace" font-size="14.00">…</text>
</a>
</g>
</g>
<!-- responsesObject&#45;&gt;responseObject -->
<g id="edge10" class="edge">
<title>responsesObject:code1-&gt;responseObject:header</title>
<path fill="none" stroke="black" d="M805.5,-78C823.9,-78 830.88,-78 845.35,-78"/>
<polygon fill="black" stroke="black" points="845.5,-81.5 855.5,-78 845.5,-74.5 845.5,-81.5"/>
</g>
<!-- responsesObject&#45;&gt;responseObject -->
<g id="edge11" class="edge">
<title>responsesObject:code2-&gt;responseObject:header</title>
<path fill="none" stroke="black" d="M805.5,-56C825.8,-56 830.13,-71.37 845.19,-76.42"/>
<polygon fill="black" stroke="black" points="845.08,-79.94 855.5,-78 846.15,-73.02 845.08,-79.94"/>
</g>
<!-- responsesObject&#45;&gt;responseObject -->
<g id="edge12" class="edge">
<title>responsesObject:code3-&gt;responseObject:header</title>
<path fill="none" stroke="black" d="M805.5,-35C830.92,-35 827.81,-67.34 845.65,-75.93"/>
<polygon fill="black" stroke="black" points="844.99,-79.36 855.5,-78 846.44,-72.51 844.99,-79.36"/>
</g>
</g>
</svg>