  .card-wrapper {
    border: 0 !important;    
    border-radius: 20px;
    text-align: center; 
  }

  .card-container{
    margin: auto;
    padding-top: 1rem;
    border-radius: 5%;
    background-color: #f0fcd4;
  }
  
  .card-body{
    margin-top: 0.1rem;
  } 

  .card-img {
    width: 70%;
    height: auto;
    margin-top: 1rem;
    filter: invert(53%) sepia(66%) saturate(412%) hue-rotate(65deg) brightness(94%) contrast(85%);
  }

  .card-circle {
    margin: auto;
    width: 120px;
    height: 110px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgba(155, 226, 166, 0.4), rgba(120, 136, 119, 0.4));
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-quantity{
    height: 55px;
    font-size: 1.6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0em;
    /* border: 1px solid red; */
    max-width: 190px;
  }

  .card-title{
    font-weight: 700;
    line-height: 1.4;
    font-size: 1.1rem;
    font-family: Public Sans,sans-serif;
    opacity: 0.72;
  }


  .chartHook {
    margin-bottom: 4rem;
  }