div.multi-combo-grid{
 position:relative;
 float:right;
 width:79%;
 margin-left: 1%;
}
div.multi-combo-display{
 position:relative;
 float:right;
 width:20%;
 height:400px;
 overflow:auto;
 background-color: #6c757d29;
}