div.table-actions-buttons-container{
    /* width: 100%; */
    position: absolute;
    z-index: 10;
}
div.am-form-sub form{
     padding-top: 16px;
}

label.form-label{
    width: 100%;
    border-bottom: 1px solid rgb(32 201 151);
    border-bottom-right-radius: 5px;
}