/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

html,body{
background-image: url('../../site_items/bg.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 240px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
}