body { background-color: #0000000a; }

.language-selection img{
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.language-selection div{
    display: inline-block;
    position: relative;
    margin: 0px 5px 0px 0px;
}

div.language-selection{
    position: absolute;
    right: -5px;
    top: 64px;
    /* width: 90px; */
    height: 50px;
}

div.card-sub-title{
    background-color: #f8f9fa;
    width: 100%;
    position: relative;
    margin: auto;
    border: 1px solid #343a404d;
    font-size: 14px;
    border-radius: 4px;
}

#home-form-main{ 
 text-align: center; 
 width: 100%; 
 /* height: 100%;  */
}

div.am-search-nav,div.am-form-main,div.am-form-sub{
 box-shadow: 1px 1px 10px 0px #00000030;
 /* margin: 15px; */
 position: relative;
}

div.am-form-main{ 
/* height: 50px; */
padding: 30px;
}

#station-form-main{ padding:0; }

button.logout { position: absolute; right: 0px; top: 0px; }
div.bs-alert-amanos-cnt{ z-index: 20; position: absolute; top: -50px; width: 100%; transition: 1s all;}

div.nav-path > div{
    /* width: 150px; */
    height: 26px;
    background-color: rgb(248 249 250);
    color: black;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    text-align: center;
    line-height: 18px;
    z-index: 15;
    /* box-shadow: 1px 1px 10px 0px #00000030; */
    position: relative;
    display: inline-block;
    left: 5px;
}

div.am-tab-content{ max-width: 1280px; margin: auto; }
nav.am-nav-bar{ max-width: 1280px; margin: auto; }
div.nav-path{ max-width: 1280px; margin: auto; }

div.location-search-container{    
    /* padding: 5px; */
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

div.location-search-container > div{
    /* width: 250px; */
    margin: 0px 0px 0px 0px !important;
    /* float: right; */
}

div.agronomy-card{
 width: 50%;
 max-width: 1200px;
 margin: auto;
}

div.agronomy-card-calendar{
 width: 90%;
 max-width: 1200px;
 padding:0;
 margin: auto;
}

@media (max-width: 1024px){
 div.agronomy-card{
  width: 100%;
 }
}

div.am-domcard-right{
  height: 116px; overflow: auto;
}

div.am-domcard-left{
  border-radius : 4px; 
  display       : inline-block; 
  text-align    : center;
}

div.am-domcard-title{
  display: none;
}

span.mapoverlay-measurement-container{
 width: 150px;
}

div.mapoverlay-measurement-title{
 margin: auto; 
 width: 150px; 
 text-align: center; 
 height: 35px;
 font-weight: 600; 
 color: black; 
 background-color: #86c0ff; 
 padding: 1px 10px 1px 10px; 
 box-shadow: 1px 1px 15px -5px black; 
 font-size: 13px; 
 border-radius: 20px; 
 line-height: 15px;
}

div.mapoverlay-warning-container{
 margin: auto; 
 width: 310px; 
 text-align: center; 
 height: 18px; 
 font-weight: 600; 
 color: black; 
 background-color: var(--red); 
 padding: 1px 10px 1px 10px; 
 box-shadow: 1px 1px 15px -5px black; 
 font-size: 13px; 
 border-radius: 20px; 
 line-height: 15px;
}

.mapoverlay-warning-list div{
  position: relative; 
  float: left; 
  background-color: #dc3545; 
  width: 110px; 
  height: 20px; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  margin-left: -4px;
}

.mapoverlay-warning-list span{
 width: 310px;
}

div.am-domcard-list-property{
 width: 180px;
}


div.am-form-sub{
  margin-top: 10px;
}

/* Calendar */
div.calendar-no-data{
    margin: 30px 0 15px 25%;
    background: #f0f1f3;
    padding: 1.2em;
    position: relative;
    border-radius: 5px;
    height: 140px;
    line-height: 100px;
}
div.calendar-list-container{ 
  /* padding: 10px;  */
  background-color: white; 
  /* margin-bottom: 10px;  */
}
div.calendar-aggregate-container{ 
  /* padding: 10px;  */
  background-color: white; 
  text-align: center; 
}
div.calendar-total-header{
  background-color: #f0f1f3;
  position: relative;
  border: 1px solid #0000001f;
  text-align: center;
  margin-top: 10px;
}
span.calendar-badge-counter{
  top: 1px !important;
  margin-left: 11px !important;
  font-size: 12px !important;
}
div.list-aggregates-cnt{
    background-color: #f0f1f3;
    color: black;
    padding: 5px;
    font-size: 20px;
    margin: 3px;
    border: 1px solid #00000017;
}
span.aggregation-panel-primary{
  font-size: 40px;
  color: #343a40;
}
span.aggregation-panel-secondary{
  font-size: 15px;
  color: #343a40;
}
span.aggregation-panel-description{
  font-size: 15px;
  color: #343a40;
}
.group-selection-list option{
  background-color: #f8f9fa;
  cursor: pointer;
  border: 1px solid white;
}
select.group-selection-list{
  padding: 10px;
  border: 1px solid #dbdbdb;
  background-color: #f8f9fa;
}

/* JQI Message */ 

.jqimessage{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 800px){
  #calendar-list-container{
    height: 240px !important;
  }

  div.am-domcard-title{
    display: block;
  }
  
  div.am-domcard-left{
    display: none;
  }

  div.am-domcard-right{
    height: 116px; overflow: auto;
  }
  
  span.mapoverlay-measurement-container{
   width: 90px;
  }

  .mapoverlay-measurement-list li{
   padding: 0 !important;
  }

  .mapoverlay-measurement-list span{
   width: 100%;
  }

  ul.mapoverlay-measurement-list{
   padding: 0 !important;
  }

  div.mapoverlay-measurement-title{
   display:none;
  }

  div.mapoverlay-warning-container{
   display:none;
  }

  .mapoverlay-warning-list span{
   width: 150px;
  }

  .mapoverlay-warning-list div{
   width: 25px;
  }

  li.mapoverlay-warning-list{
   padding: 0 !important;
  }
  
  div.am-domcard-list-property{
   width: 90px;
  }
}


/* GRID */ 

div.grid-top-info-panels-container{
  height: 30px; 
  background-color: #f1f1f1; 
  /* border-top-left-radius: 10px;  */
  /* border-bottom-left-radius: 10px;  */
  line-height: 30px; 
  border: 1px solid #dddddd;
}

div.grid-top-info-panels-icon-container{
  width: 40px; 
  float: left; 
  height: 28px; 
  padding: 4px; 
  background-color: rgb(0 123 255); 
  /* border-top-left-radius: 10px;  */
  /* border-bottom-left-radius: 10px;  */
  color: white; 
}