

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
 background-color: #b0bed933;
}

table.dataTable tbody>tr{
 cursor:pointer;
}

div.bootstrap-datetime-widget{
 z-index:1100;
}

.col > label{
 display: inline-block;
 margin-bottom: .5rem;
 position: absolute;
 z-index: 10;
 top: -13px;
 background-color: #f5f5f5;
 padding: 0px 20px 2px 10px;
}

.form-row>.col, .form-row>[class*=col-]{
 padding-right: 5px;
 padding-left: 5px;
 padding-bottom: 0px;
 border-top: 1px solid #00000029;
 border-radius: 10px;
}

.form-group{
 margin-bottom: 0rem;
 margin-top: 1rem;
}

div.dataTables_length{
 margin: 0px 0px 33px 0px;
 position: relative;
 top: 18px;
}

div.dataTables_filter{
 margin: 5px 5px -7px 0px;
}

.table td, .table th{
 vertical-align: middle;
}

.buttons-csv, .buttons-html5, .buttons-print{
    width: 50px;
    padding: 0;
    height: 20px;
}